.App {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--pri-color);
    position: relative;
    scroll-behavior: smooth;

    &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
        border-radius: 3px;
        background-color: #cccccc22;

    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: #f7f7f71e;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #D62929;
        background-image: -webkit-linear-gradient(90deg,
                transparent,
                rgba(0, 0, 0, 0.4) 50%,
                transparent,
                transparent)
    }


    .contact-icons {
        position: fixed;
        z-index: 5;
        right: -100%;
        top: 150px;
        transition: 1s ease;


        &.show {
            right: 20px;
            transition: 0.5s ease;
        }

        .icons-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            span {
                color: white;
            }

            a {
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(5px);
                background: #6868683e !important;
                border: 1px solid #adadad2e !important;
                border-radius: 2px;
                color: white;
                transition: 0.5s ease;


                &:hover {
                    scale: 1.2;
                    transition: 0.5s ease;
                }

            }
        }
    }

    .navbar {
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        .mob-menu-drawer {
            width: 100%;
            height: 100%;
            position: fixed;
            bottom: 0;
            left: -100%;
            overflow: hidden;
            z-index: 3;
            transition: 1s ease;

            &.shown {
                left: 0;
                transition: 1s ease;
            }

            .drawer-wrap {
                width: 100%;
                height: 100%;
                background: var(--pri-color);

                padding: 20px;
                position: relative;

                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: url('./assets/menubg.png');
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .mob-drwaermenu {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    li {
                        a {
                            padding: 16px;
                            display: flex;
                            align-items: center;
                            -webkit-backdrop-filter: blur(10px);
                            backdrop-filter: blur(5px);
                            background: #0f0f0f3e !important;
                            border: 1px solid #262626 !important;
                            text-decoration: none;
                            color: white;
                            font-family: 'avengernorm';
                            transition: 0.5s ease;


                            &:hover {
                                scale: 1.03;
                                transition: 0.5s ease;
                            }


                        }
                    }

                }

                .close-btn {
                    margin: 20px 0;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: relative;
                    z-index: 2;

                    button {
                        padding: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: transparent;
                        border: none;
                        outline: none;
                        color: white;
                        font-size: 1.6em;
                    }
                }
            }
        }

        .nav-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 25px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(5px);
            background: #0f0f0f3e !important;
            border-bottom: 1px solid #262626 !important;

            .left {
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;

                img {
                    width: 35px;
                    height: 35px;

                }
            }

            .right {
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .menu {
                    display: flex;
                    align-items: center;
                    gap: 25px;
                    list-style: none;

                    li {
                        a {
                            font-family: 'avengernormal';
                            color: rgba(255, 255, 255, 0.699);
                            letter-spacing: 2px;
                            font-size: 0.9em;
                            text-decoration: none;
                            text-shadow: 2px 2px 4px rgba(255, 47, 47, 0), -2px -2px 3px rgba(60, 66, 255, 0);
                            transition: 0.5s ease;

                            &:hover {
                                text-shadow: 4px 4px 4px rgba(255, 47, 47, 0.5), -4px -4px 3px rgba(60, 67, 255, 0.8);
                                transition: 0.5s ease-in-out;

                            }

                        }
                    }
                }

                .mob-menu {
                    display: none;
                    align-items: center;
                    gap: 25px;
                    list-style: none;

                    li {
                        button {
                            padding: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: transparent;
                            border: none;
                            outline: none;
                            color: white;
                            font-size: 1.6em;

                        }
                    }
                }
            }
        }
    }





}


@media screen and (max-width:990px) {
    .App {
        &::-webkit-scrollbar {
            display: none;
        }

        .navbar {

            .nav-wrap {

                .right {

                    .menu {
                        display: none;
                    }

                    .mob-menu {
                        display: flex;
                    }
                }
            }
        }
    }


}